<div class="container">
    <h1><%= title %></h1>
    <hr>
    <h3>Welcome to my Portfolio</h3>
   <p>My name is Heba Sajid and this is my online portfolio for COMP 229 - Web Application Development.</p>
    <h3>Mission Statement</h3>
    <p>My end-goal is to gain a multitude of new skills in this course and be able to obtain a job in this field or related to software engineering in the near future!
    I hope to be able to donate my skills for good causes in the world as well!</p> 
    <p>Please use the navigation bar above or the hyperlinks below to travel through my portfolio, such as the About Me, Projects, Services, and Contact Pages.</p> 
   <a href="about.ejs">About Me</a> 
   <a href="projects.ejs">Projects</a> 
   <a href="services.ejs">Services</a>
   <a href="contact.ejs">Contact</a>
   
</div>