<div class="container">
    <h1><%= title %></h1>
    <hr>
    <h3>My Projects</h3>
    <br>
    <div class="images">
    <img src="./content/images/SRS.jpeg" alt="SRS document">
    <h5>Software Requirements Specification | 
         Status: Ongoing
    </h5>
    <div class="paragraphs">
    <p>  This software requirements specification is a collaboration project for my Software
         Systems Design course. The project is 4 months long and requires for a group to come up with
         a software system, and create a SRS document for it, including various scenario and class based diagrams.
    </p>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <img src="./content/images/web-app.jpeg" alt="web-app site">
    <div class="paragraphs">
    <h5>Real Estate Website | Status: Completed April 2022</h5>
    <p>This project required for me to build a 5 page website for a real-estate agent of choice, for my 
        Web Application Design. The project required for the use of HTML, CSS, and utmost creativity. Creating the page layout,
        navigation links, and the website's functionality for various screen sizes was completed in this project.
    </p>
</div>
<br>
    <br>
    <br>
    <br>
    <br>
    
    
    
</div>