<div class="container">
    <h1><%= title %></h1>
    <hr>
    <h3>Services Provided</h3>
    <p>Services that I can provide include:
        <ol>
            <li>General Programming with C# and Java.</li>
            <li>Data Analysis and Manipulation with SQL.</li>
            <li>Web Development and Design with HTML, JavaScript, and CSS.</li>
            <li>Strong Scientific Report Writing and Researching.</li>
            
        </ol>
    </p>
</div>